@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Import */

/* Root Styles */
:root {
  /* Montserrat fontu paragraflar için */
  --font-montserrat: 'Montserrat', sans-serif;

  /* Poppins fontu başlıklar için */
  --font-poppins: 'Poppins', sans-serif;

  font-family: var(--font-montserrat);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Başlıklar için Poppins fontu */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
  font-weight: 600; /* Başlıklar için kalın font */
}

/* Paragraflar ve linkler için Montserrat fontu */
p, a {
  font-family: var(--font-montserrat);
  font-weight: 400; /* Paragraflar için normal ağırlık */
}

/* Link Styling */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Body Styling */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Button Styling */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light Mode Adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
